.main-container{
    display: flex;
    background-color: rgb(238, 238, 120);
    gap: 20px;
    padding: 10px;
}

li{
    list-style: none;
}

.another-container{
    display: flex;
    background-color: orange;
}

.last-container{
    gap: 10px;
    background-color: rgb(255, 55, 0);
}